name: Automate Test workflows

permissions:
  contents: read
  checks: write

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # creates a real Postgres instance inside the GitHub runner
    services:
      logistics-db:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: logistics_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    defaults:
      run:
        working-directory: server

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
        cache-dependency-path: server/pom.xml

    - name: Build and Test with Maven
      run: mvn -B clean verify
      env:
        #  find on ther  GitHub Service Container
        DB_HOST: localhost
        DB_PORT: 5432
        DB_NAME: logistics_db
        DB_USER: postgres
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: server/target/surefire-reports

    - name: Publish test results
      if: always()
      uses: dorny/test-reporter@v1
      with:
        name: JUnit Tests
        path: server/target/surefire-reports/*.xml
        reporter: java-junit
        fail-on-error: true